<!DOCTYPE HTML>
<html ng-app="opportunitiesApp" ng-cloak>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Opportunities</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body ng-controller="appController">
    <nav class="navbar bg-faded navbar-fixed-top">
      <div class="container">

        <header class="navbar-header col-lg-4 col-xs-12">
          <h1><a class="navbar-brand" href="#">Philly Dev Jobs</a></h1>
        </header>

        <div class="col-lg-4 col-xs-12">
        <ul class="nav navbar-nav">
          <li ng-repeat="state in states"
              class="nav-item"
              ng-class="{ dropdown: (counties[state] && counties[state].length > 2), active: (state == nav_active_state) }">
              <a href="#"
                  class="nav-link"
                  ng-class="{'dropdown-toggle': (counties[state] && counties[state].length > 2)}"
                  data-toggle="{{(counties[state] && counties[state].length > 2) ? 'dropdown':''}}"
                  role="{{(counties[state] && counties[state].length > 2) ? 'button':''}}"
                  aria-haspopup="{{(counties[state] && counties[state].length > 2) ? 'true':'false'}}"
                  aria-expanded="{{(counties[state] && counties[state].length > 2) ? 'false':''}}"
                  ng-click="navClick(state)">
                  {{state}}
                  <span class="caret" ng-if="(counties[state] && counties[state].length > 2)"></span>
              </a>
              <ul class="dropdown-menu" ng-if="(counties[state] && counties[state].length > 2)">
                <li ng-repeat="county in counties[state]"
                    class="dropdown-item"
                    ng-class="{active: (state == nav_active_state && county == nav_active_county)}">
                    <a href="#" class="nav-link" ng-click="navClick(state, county)">{{county}}</a>
                </li>
              </ul>
          </li>
        </ul>
        </div>
        <form class="form-inline pull-sm-right col-xs-12 col-lg-4">
            <input class="form-control" ng-model="search" type="text" placeholder="Search">
        </form>
      </div><!-- /.container-fluid -->
    </nav>

    <div id="content" class="container">
      <section class="card col-xs-12"
               ng-repeat="listing in listings | filter : search"
               ng-show="listing.positions != ''">
        <header class="card-header">
          <h4><a href="{{listing.url}}" target="_blank">{{listing.company}}</a></h4>
          <p>
            <small>{{listing.address}}</small>
          </p>
        </header>
        <div class="card-block">
          <div class="list-group">
        	  <a ng-repeat="position in listing.positions" class="list-group-item" href="{{listing.url}}" target="_blank">
        	    {{position.title}}
        	  </a>
        	</div>
        </div>
      </section>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
