<!DOCTYPE HTML>
<html ng-app="opportunitiesApp" ng-cloak>
  <head>
    <title>Opportunities</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </head>
  <body ng-controller="appController">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <header class="navbar-header">
          <a class="navbar-brand" href="#">Philly Dev Jobs</a>
        </header>
        <ul class="nav navbar-nav">
          <li ng-repeat="state in states"
              ng-class="{ dropdown: (counties[state] && counties[state].length > 0), active: (state == nav_active_state) }">
              <a href="#"
                  ng-class="{'dropdown-toggle': (counties[state] && counties[state].length > 0)}"
                  data-toggle="{{(counties[state] && counties[state].length > 0) ? 'dropdown':''}}"
                  role="{{(counties[state] && counties[state].length > 0) ? 'button':''}}"
                  aria-haspopup="{{(counties[state] && counties[state].length > 0) ? 'true':'false'}}"
                  aria-expanded="{{(counties[state] && counties[state].length > 0) ? 'false':''}}"
                  ng-click="navClick(state)">
                  {{state}}
                  <span class="caret" ng-if="(counties[state] && counties[state].length > 0)"></span>
              </a>
              <ul class="dropdown-menu" ng-if="(counties[state] && counties[state].length > 0)">
                <li ng-repeat="county in counties[state]"
                    ng-class="{active: (state == nav_active_state && county == nav_active_county)}">
                    <a href="#" ng-click="navClick(state, county)">{{county}}</a>
                </li>
              </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-right" role="search">
      	  <div class="form-group">
      	      <input type="text" ng-model="search" class="form-control" placeholder="Search">
      	  </div>
        </form>
      </div><!-- /.container-fluid -->
    </nav>

    <div id="content" class="container">
      <br/>
      <div ng-repeat="listing in listings | filter : search" class="panel panel-default" ng-show="listing.positions != ''">
      	<div class="panel-heading">
      	  <h1><a href="{{listing.url}}" target="_blank">{{listing.company}}</a></h1>
      	  <p>{{listing.address}}</p>
      	</div>
      	<div class="list-group">
      	  <a ng-repeat="position in listing.positions" class="list-group-item" href="{{listing.url}}" target="_blank">
      	    {{position.title}}
      	  </a>
      	</div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
